.red{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: red;
    
}

.blue{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(51, 41, 199);
}

.grow{
    width: 40px;
    height: 40px;
    transition:  0.3s;
}